
.round-layout {
    -fx-border-radius: 15;
    -fx-border-color: #D7D7D7;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.selected {
    -fx-background-color: #D97145;
}

.mouse-moved: hover {
    -fx-background-color: #D97145;
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.5, 0, 1);
}

.mouse-moved2: hover {
    -fx-border-color: #D97145;
}
.mouse-moved3: hover {
    -fx-border-color: #060270;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 3, 0.5, 0, 1);
}